<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOL SHELTER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <header>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    Колонка
                </div>

            </div>
        </div>
    </main>

    <footer>
    </footer>
</body>

</html>